<div class="contact-home-vtwo">
  <div class="container">
    <div class="row">
      <h3>Contact Us</h3>
      <p class="sub-line">Our preschool program has four dedicated classes</p>
      <div class="col-xs-12 col-sm-4">
        <div class="contact-address cinfo">
          <h3><i class="lnr lnr-map-marker"></i> Postal Address</h3>
          <p>
            Brahmbad <br />
            SGBN SR. SEC. School<br />
            Bayana,321410.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="contact-phone cinfo">
          <h3><i class="lnr lnr-smartphone"></i> Phone &amp; E-mail</h3>
          <p>
            Phone:9829593547 <br />
            Email:
            <a href="home-2.html#"
              ><span
                class="__cf_email__"
                data-cfemail="0b6e6f7e686a7f6264657b796e78784b666a626725686466"
                >[email&#160;protected]</span
              ></a
            >
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="contact-hours cinfo">
          <h3><i class="lnr lnr-clock"></i> Office Hours</h3>
          <p>
            Monday - Saturday <br />
            9.00 Am - 4.00 Pm <br />
            Weekend Closed
          </p>
        </div>
      </div>
      <div class="col-xs-12 contact-form-vtwo">
        <form id="cform" action="home-2.html#" class="contactform">
          <div class="col-xs-12 col-sm-6">
            <p><input name="name" type="text" placeholder="Your Name*" /></p>
            <p><input name="email" type="text" placeholder="Your Email*" /></p>
            <p><input name="subject" type="text" placeholder="Subject" /></p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <textarea
              name="message"
              cols="20"
              rows="5"
              placeholder="Message*"
            ></textarea>
          </div>
          <div class="col-xs-12">
            <input name="Submit" type="submit" value="Send Message" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
