<%- include("partials/header.ejs") %>
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <header class="entry-header">
        <h1 class="entry-title">Gallery</h1>
      </header>
    </div>
  </div>
</div>
<div class="page-spacer clearfix">
  <div id="primary">
    <div class="container">
      <div class="row">
        <main id="main" class="site-main col-xs-12">
          <div class="text-center gallery-category">
            <button
              class="btn-gallery btn-current"
              data-toggle="portfilter"
              data-target="all"
            >
              All Images
            </button>
            <button
              class="btn-gallery"
              data-toggle="portfilter"
              data-target="music"
            >
              Music
            </button>
            <button
              class="btn-gallery"
              data-toggle="portfilter"
              data-target="frontend"
            >
              Frontend
            </button>
            <button
              class="btn-gallery"
              data-toggle="portfilter"
              data-target="web-devloping"
            >
              Web Devloping
            </button>
          </div>
          <div class="clearfix"></div>
          <ul class="thumbnails gallery">
            <li class="col-xs-12 col-xs-3" data-tag="web-devloping">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img1.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_1.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="music">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img2.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_2.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="frontend">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img1.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_3.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="web-devloping">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img2.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_4.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="music">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img1.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_5.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="frontend">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img2.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_6.jpg" />
              </a>
            </li>
            <li class="cols-xs-12 col-xs-3" data-tag="web-devloping">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img1.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_7.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="music">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img2.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_1.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="music">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img1.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_2.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="web-devloping">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img2.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_3.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="web-devloping">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img1.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_4.jpg" />
              </a>
            </li>
            <li class="col-xs-12 col-xs-3" data-tag="web-devloping">
              <a
                class="fancybox-effects-a"
                href="images/use_img/banner_img2.jpg"
                rel="next"
              >
                <img alt="" src="images/use_img/g_img_5.jpg" />
              </a>
            </li>
          </ul>
        </main>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
