<%- include("partials/header.ejs") %> <%- include("teachers.ejs") %>

<!-- Blogs Start from here -->
<section class="our-blog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3><span>Our</span> Blog</h3>
        <ul>
          <li>
            Lorem ipsum is simply dummy text of the printing and typestting
            industry
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="blogs">
          <a href="home-1.html#"
            ><figure>
              <img src="images/use_img/blog-thumb.jpg" alt="" /></figure
          ></a>
          <div class="col-sm-6">
            <h3>
              <a href="home-1.html#"
                >Blog Title Will Be Here Long Secound Line Too!</a
              >
            </h3>
            <p class="meta">
              <span class="date">Aug 25, 2015</span> <span>.</span> By
              <a href="home-1.html#">Mark Freeman</a>
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <a href="home-1.html#" class="know-more"
              >Know More <i class="lnr lnr-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="blogs">
          <a href="home-1.html#"
            ><figure>
              <img src="images/use_img/blog-thumb.jpg" alt="" /></figure
          ></a>
          <div class="col-sm-6">
            <h3>
              <a href="home-1.html#"
                >Blog Title Will Be Here Long Secound Line Too!</a
              >
            </h3>
            <p class="meta">
              <span class="date">Aug 25, 2015</span> <span>.</span> By
              <a href="home-1.html#">Mark Freeman</a>
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <a href="home-1.html#" class="know-more"
              >Know More <i class="lnr lnr-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blogs end here -->

<%-include("contact.ejs") %> <%-include("partials/footer.ejs") %>
